@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", system-ui;
}

body{
    background-color: #3d64e6;
}

.main_wrapper{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 80vmin;
}

.main_wrapper h1{
    margin-bottom: 10px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.container{
    background-color: #fff;
    padding: 3rem 2.5rem;

    border-radius: 0.63em;
    box-shadow: 0 1.25em 1.6em rgba(0, 21, 65, 0.25);
}

.search-wrapper{
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.25rem;
}

.search-wrapper button{
    font-size: 1em;
    background-color: #3d64e6;
    color: #fff;
    padding: 0.8em 0;
    border-radius: 1.5em;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.search-wrapper input{
    font-size: 1em;
    padding: 0.062em;
    border: none;
    outline: none;
    border-bottom: 2px solid #3d64e6;
    color: #222a43;
}

.container .flag-img{
    display: block;
    width: 40%;
    min-height: 7.5rem;
    margin: 1.8em auto 1.2em auto;
}

.container h2{
    font-weight: 600;
    color: #222a43;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.8em;

}

.data-wrapper{
    margin-bottom: 1em;
    letter-spacing: 0.3px;
}

.container h4{
    display: inline;
    font-weight: 500;
    color: #222a43;
}

.container span{
    color: #5d6274;
}

.container h3{
    text-align: center;
}

